// Define variables for your color scheme

// For example:
$red: #d32f2f;
$blue: #3A506B;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Variables for text colors
$darker-blue: #0E1621;
$dark-blue: #1F3148;
$light-blue: #3A506B;
$danger: #d32f2f;
$danger-hover: #b71c1c;
