<div class="home-container">
  <h1>Bienvenue sur Mercenaries Hub</h1>
  <p>La plateforme qui vous permet de louer des mercenaires en toute simplicité.</p>
  <a href="#" class="cta-button">Découvrir</a>
</div>
<div class="mercenaries-preview">
  <h2>Nos meilleurs mercenaires</h2>
  <div class="mercenaries-container">
    <% @mercenaries.each do |mercenary| %>
  <div>
    <h3><%= mercenary.name %></h3>
    <p><%= mercenary.bio %></p>
    <%if mercenary.picture.attached? %>
      <%= cl_image_tag mercenary.picture.key, alt: mercenary.name, width: 200, height: 250, style: "object-fit: cover;" %>
    <%end %>
  </div>
<% end %>
  </div>
</div>
