
.card-booking {
  height: 120px;
  background: $dark-blue;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 16px;
  transition: all .3s;

  &:hover {
    transform: scale(1.02);
    filter: brightness(1.1);
  }

  .card-booking-actions a i:hover {
    transform: scale(1.5);
  }

  // Styles pour chaque colonne
  .card-booking-target,
  .card-booking-purpose,
  .card-booking-mercenary,
  .card-booking-place,
  .card-booking-user,
  .card-booking-price,
  .card-booking-actions {
    flex: 1; // Chaque colonne prend une part égale de l’espace
    padding: 8px;
    text-align: center;
  }

  .card-booking-target {
    position: relative; /* pour positionner .target-overlay */

    &:hover{
      cursor: default;
    }
  }
  
  .target-img {
    height: 100px;
    width: 150px;
    object-fit: cover;
    border-radius: 4px;
    object-fit: cover;
  }

  .target-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre l'icône */
    font-size: 80px;
    color: red;
    opacity: 0.5;
    z-index: 2; /* S'assure que l'icône est au-dessus de l'image */
  }

  .target-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0;
    z-index: 3; // Texte au-dessus de l'icône
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin: 0;
  }
}
