<div class="info-window">
  <h4><%= mercenary.name %></h4>
  <p><strong>Spécialité :</strong> <%= mercenary.specialty %></p>
  <p><strong>Tarif journalier :</strong> <%= mercenary.price_per_day %>€</p>
</div>
