form {
  width: 450px;
  margin: 40px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  div {
    margin-bottom: 15px;
  }

  label {
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }

  .custom-file-input {
    width: 100%;
  }

  textarea {
    height: 100px;
  }

  input[type="submit"] {
    background-color: #ff4b2b;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ff0000;
    }
  }
}


/* Styles généraux des boutons */
.btn {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

// .btn-primary {
//   background-color: #ff4b2b;
//   color: white;

//   &:hover {
//     background-color: #ff0000;
//     color: white;
//   }
// }

.btn-danger {
  background-color: #d32f2f;
  color: white;

  &:hover {
   background-color: #b71c1c;
   color: white;
  }
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #5a6268;
  }
}


/* Page Show (Profil d'un nouveau mercenaire) */
.mercenary-profile {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: #1F3148;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
  }

  p {
    font-size: 1rem;
    color: #ffffff;
    margin: 10px 0;
  }

  strong {
    color: white;
  }

  img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  }

  .reviews-section {
    margin-top: 40px;
    padding: 20px;
    background: #f9F9F9;
    border-radius: 10px;

    .review {
      background: #fff;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }

  .back-button {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }
}


/* Page Edite (Formulaire de modification d'un mercenaire) */
.mercenary-edit {
  max-width: 500px;
  margin: 40px auto;
  padding: 25px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  h1 {
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    input, textarea, select {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  }
}


/* Liste des mercenaires */

.mercenary-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.mercenary-card {
  background: #ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(189, 184, 184, 0.1);
  text-align: center;
}

.mercenary-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.mercenary-card h2 {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}

.mercenary-card p {
  font-size: 14px;
  color: #666;
}

/* Assurer une marge pour éviter que le contenu soit caché sous la navbar */
.container {
  margin-top: 80px; /* Ajuster selon la hauteur de la navbar */
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  margin-bottom: 20px; /* Ajout de l'espace sous le H1 */
  text-align: center; /* Centre le titre */

  h1 {
    font-weight: bold;
    color: #ffffff;
  }
}
