<h1>Ajouter un avis</h1>

<!-- Ce bouton est accessible à tous -->
    <div class="back-button">
      <%= link_to "Ajouter un avis au mercenaire", bookings_path, class: "btn btn-secondary" %>
    </div>
